<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>
    <div class="container">
        <!-- Include header partial view -->
        <header class="header">
            <%- include("_header") %>
        </header>

        <!-- Main content area -->
        <main class="main-content">
            <%- body %>
        </main>

        <!-- Include footer partial view -->
        <footer class="footer">
            <%- include("_footer") %>
        </footer>
    </div>
</body>

</html>