<link rel="stylesheet" href="/css/profile.css">

<h1>
    <%=title%> page
</h1>
<p>
    <%=user.name%>
</p>

<form action="/user/signout" method="get">
    <button type="submit">Sign Out</button>
</form>